<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: commonhead('パスワード再設定')}" ></head>
<body>
<h1>パスワード再設定</h1>
<div class="container main-content">
    <form th:action="@{/password}" method="post" class="forgetPasswordForm">
        <div class="newPassword">
            <label for="emailAddress">メールアドレス:</label>
            <input type="email" id="emailAddress" name="emailAddress" required />
        </div>
        <div class="resetButton">
            <button type="submit">リセットリンクのメールを送信する</button>
        </div>
    </form>
    <span><a th:href="@{/login}">ログインに戻る</a></span>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>
</div>
</body>
</html>
