<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>売上管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/scripts.js}" defer></script>
</head>
<body>
<div class="hamburger-menu" onclick="openNav()">
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
</div>
<h1>売上管理</h1>
<div class="header-right" sec:authorize="isAuthenticated()">
    こんにちは：<span sec:authentication="name"></span>さん
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout" />
    </form>
</div>
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a th:href="@{/admin/orders}">注文</a>
    <a th:href="@{/admin/management}">商品</a>
    <a th:href="@{/admin/employees}">人事</a>
    <a th:href="@{/admin/sales}">売上</a>
</div>
<div class="container main-content">
    <h2>注文別売上グラフ</h2>
    <img th:src="${graphUrl}" alt="Sales Chart">

    <h2>日次売上グラフ</h2>
    <img th:src="${dailyGraphUrl}" alt="Sales Chart">
</div>
</body>
</html>