<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>管理者設定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>管理画面</h1>
<div class="header-right" sec:authorize="isAuthenticated()">
    こんにちは：<span sec:authentication="name"></span>さん
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout" />
    </form>
</div>
<div class="container">
    <h2>Order Table</h2>
    <table>
        <tr>
            <th>ORDER_ID(ID)</th>
            <th>ORDER_DATE_TIME</th>
            <th>CUSTOMER_NAME</th>
            <th>EMPLOYEE_NAME</th>
            <th>PAYMENT_METHOD</th>
        </tr>
        <tr th:each="odr:${orderList}">
            <td><span th:text="${odr.orderId}"></span></td>
            <td><span th:text="${odr.orderDateTime}"></span></td>
            <td><span th:text="${odr.customerName}"></span></td>
            <td><span th:text="${odr.employeeName}"></span></td>
            <td><span th:text="${odr.paymentMethod}"></span></td>
        </tr>
    </table>
    <h2>Product Table</h2>
    <form th:action="@{/admin/update-products}" method="post" th:object="${productWrapper}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <table>
        <tr>
            <th>商品名</th>
            <th>価格(円)</th>
            <th>在庫数(右端は現在の在庫数)</th>
        </tr>
        <tr th:each="prod, iterStat :${productWrapper.products}">
            <td>
                <input type="hidden" th:field="*{products[__${iterStat.index}__].id}" th:value="${prod.id}">
                <input type="text" th:field="*{products[__${iterStat.index}__].name}" th:value="${prod.name}" required class="name-input">
            </td>
            <td>
                <input type="text" th:field="*{products[__${iterStat.index}__].price}" th:value="${prod.price}" required class="price-input">
            </td>
            <td>
                <input type="number" th:field="*{products[__${iterStat.index}__].stock}" th:value="${prod.stock}" min="1" required class="quantity-input">
                <span th:text="${prod.stock}"></span>
            </td>
        </tr>
    </table>
        <input type="submit" value="一括更新">
    </form>
    <div th:if="${updateSuccess}">
        <p th:text="${updateSuccess}"></p>
    </div>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>