<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="~{fragments/head :: headmeta}" />
    <link th:replace="~{fragments/head :: headlink1}" />
    <script th:replace="~{fragments/head :: headscript1}" ></script>
    <link th:replace="~{fragments/head :: headlink2}" />
    <script th:replace="~{fragments/head :: headscript2}" ></script>
    <script th:replace="~{fragments/head :: headscript3}" ></script>
    <script th:replace="~{fragments/head :: headscript4}" ></script>
    <title>AuditLog</title>
</head>
<body>
<div th:replace="~{'fragments/hamburger-menu' :: hamburgerMenu}"></div>
<h1>Auditlog</h1>
<div th:replace="~{fragments/header-right}"></div>
<div th:replace="~{'fragments/sidebar' :: sidebar}"></div>
<div class="container main-content">
    <button id="downloadButton">Download</button>
    <a>ダウンロードはcsvのみとなります</a>
    <pre th:text="${auditlogjson}"></pre>
</div>
<script>
    $('#downloadButton').click(function() {
        window.location.href = '/audit/download';
    });
</script>
</body>
</html>