<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="~{fragments/head :: headmeta}" />
    <link th:replace="~{fragments/head :: headlink1}" />
    <script th:replace="~{fragments/head :: headscript1}" ></script>
    <link th:replace="~{fragments/head :: headlink2}" />
    <script th:replace="~{fragments/head :: headscript2}" ></script>
    <script th:replace="~{fragments/head :: headscript3}" ></script>
    <script th:replace="~{fragments/head :: headscript4}" ></script>
    <title>snowflake Import Test</title>
</head>
<body>
<div th:replace="~{'fragments/hamburger-menu' :: hamburgerMenu}"></div>
<h1>Snowflake import test</h1>
<div th:replace="~{fragments/header-right}"></div>
<div th:replace="~{'fragments/sidebar' :: sidebar}"></div>
<div class="container main-content">
    <h2>Product table</h2>
    <div th:if="${error}">
        <p th:text="${error}" style="color: red"></p>
    </div>
    <table border="1" id="dataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th th:each="key: ${snowData[0].keySet()}" th:text="${key}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${snowData}">
                <td th:each="value : ${row.values()}" th:text="${value}"></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    </script>
</div>
</body>
</html>