<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>注文確定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>注文が確定しました</h1>
<div class="header-right" sec:authorize="isAuthenticated()">
    こんにちは：<span sec:authentication="name"></span>さん
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout" />
    </form>
</div>

<div class="container">
    ご購入ありがとうございました。<br>
    引き続きショッピングをお楽しみ頂く場合は下記の「商品一覧に戻る」からお進みください。

    <div class="back-link">
        <a th:href="@{/catalog/list}">商品一覧に戻る</a>
    </div>
</div>
</body>
</html>