<head th:fragment="commonhead(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script  type="text/javascript" th:src="@{/js/scripts.js}" defer></script>
    <!-- DataTables CSS -->
    <link  rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script  src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script  src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script  src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <title th:text="${title}"></title>
</head>

