<meta th:fragment="headmeta" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:fragment="headlink1" rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<script th:fragment="headscript1" type="text/javascript" th:src="@{/js/scripts.js}" defer></script>
<!-- DataTables CSS -->
<link th:fragment="headlink2" rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- jQuery -->
<script th:fragment="headscript2" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JS -->
<script th:fragment="headscript3" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script th:fragment="headscript4" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
