body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #afeeee;
}

td {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}
