body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 40px; /* 上部にスペースを追加 */
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    margin-bottom: 5px;
}

.container {
    width: 90%; /* コンテナの幅を指定 */
    max-width: 1200px; /* 最大幅を設定 */
    text-align: center;
}

.hamburger-menu {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main-content {
    margin-left: 60px; /* サイドバーの幅 */
}

.table-section {
    width: 100%;
    overflow-x: auto; /* テーブルが画面に収まりきらない場合に横スクロールを表示 */
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* セル内のテキストを中央揃え */
}

th {
    background-color: #afeeee;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007bff;
}


.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}


.button:hover {
    background-color: #0056b3;
}

.remove-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}


.remove-button:hover {
    background-color: #c82333;
}

.summary-text {
    text-align: left;
}

.placeorder {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    width: 200px;
    margin: 0 auto;
}


.placeorder:hover,
.placeorderconfirm:hover,
.correct:hover,
.login-button:hover,
input[name="placeorderconfirm"]:hover,
input[name="correct"]:hover,
input[name="correctproduct"]:hover {
    background-color: #0056b3;
}

.admin-button,
.button-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}
input[name="admin-update"],
input[name="placeorderconfirm"] {
    display: inline-block;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}


input[name="correct"],
input[name="correctproduct"] {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

input[type="number"].quantity-input {
    width: 40px;
    text-align: right;
}

.login-container,
.register-container {
    display: flex;
    flex-direction: column;
    align-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.login-form,
.register-form {
    width: 100%;
    text-align: center;
}

.login-form div,
.register-form div {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.login-form label,
.register-form label {
    flex: 1;
    text-align: right;
    align-items: center;
    margin-bottom: 5px;
    width: 20%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
    flex: 2;
    align-items: center;
    width: 50%; /* 必要に応じて調整 */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px 60px 5px 10px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin: 0 auto;
}

.login-button,
.register-button {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.register-button:hover,
.login-button:hover {
    background-color: #0056b3;
}

span.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

.header-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-right form {
    display: inline;
}

.back-link {
    text-align: center;
    width: 100%;
}
.back-link a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

.back-link a:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.oauth2 {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-right: 300px;
}

.oauth2 img {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
}

.oauth2:hover {
    background-color: #f1f1f1;
}

.newaccount {
    color: green;
}
