<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${title}">管理者設定</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/scripts.js}" defer></script>
</head>
<body>
<div th:fragment="main">

    <h1>管理画面</h1>
    <div class="hamburger-menu" onclick="openNav()">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
    </div>
    <div class="header-right" sec:authorize="isAuthenticated()">
        こんにちは：<span sec:authentication="name"></span>さん
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="logout" />
        </form>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a th:href="@{/admin/orders}">注文</a>
        <a th:href="@{/admin/management}">在庫</a>
        <a th:href="@{/admin/employees}">人事</a>
    </div>

    <div th:fragment="content">

    </div>
    <!--<div class="container">-->
    <!--  <div class="main-content">-->
    <!--    <div th:fragment="content">-->
    <!--      挿入箇所-->
    <!--    </div>-->
    <!--  </div>-->

</div>
</body>
</html>